* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

header {
	background-color: #27604f;
}

nav {
	padding: 20px;
}

.navbar-elements {
	text-align: right;
}

.navbar-elements a {
	display: inline;
	color: white;
	font-size: 24px;
	text-decoration: none;
	padding: 10px;
}

.hero {
	background-color: #deaf94;
	text-align: center;
}

.about-me {
	background-color: #f5ece6;
	padding: 20px;
}

.about-me h1 {
	color: rgb(85, 35, 3);
	padding-bottom: 20px;
	font-size: 32px;
}

.about-me p {
	padding: 20px;
}

.contact-me {
	margin-top: 5px;
	background-color: #e8cebf;
	padding: 40px;
}

.contact-me h2 {
	color: rgb(85, 35, 3);
}

form section {
	display: inline-block;
	border: 5px solid #cf7d4d;
	border-radius: 10px;
	padding: 20px 75px;
}

.input-box {
	width: 300px;
}

#submit-button {
	padding: 5px 30px;
	background-color: #504846;
	color: white;
}

footer {
	background-color: #27604f;
	text-align: center;
	color: white;
	font-size: 24px;
	border-bottom: 10px solid #504846;
}
